*{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN', sans-serif;
    /* font-family: "SF Pro Display", "Helvetica", sans-serif; */
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-top: 50px;
    background-color: #000;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 0;
    background: #000;
}

/* -----------------------------------NAVBAR--------------------------------- */

.res-nav{
    display: none;
}
.container{
    padding: 40px 7%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #000 50%, #00000048 70%, #00000000 100%);
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.3s cubic-bezier(0.4,0,0.2,1);
}
nav.hide-navbar {
    opacity: 0;
    pointer-events: none;
}

/* -----------------------------------HEADER--------------------------------- */

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.logo {
    font-size: 125px;
    color: #E8E8ED;
    font-family: "Michroma", sans-serif;
    text-decoration: none;
    letter-spacing: 10px;
}
.logo span{
    font-size: 150px;
    font-family: "Posterama 1913 W01 Bold";
    text-decoration: none;
    letter-spacing: 10px;
    color: #e8e8edf3;
    animation: glow-loop 2s infinite alternate;
}
@keyframes glow-loop {
    0% {
        filter: drop-shadow(0 0 0em rgba(0, 132, 255, 0.0))
                drop-shadow(0 0 0em rgba(102, 153, 255, 0.0))
                drop-shadow(0 0 0em rgba(179, 140, 255, 0.0));
    }
    100% {
        color: #E8E8ED;
        filter: drop-shadow(0em 0em 0.01526281em rgb(109, 216, 255)) 
            drop-shadow(0em 0em 0.07631406em rgb(111, 149, 255)) 
            drop-shadow(0em 0em 0.22894219em rgb(145, 91, 255));
    }
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 30px;
}
nav ul li a{
    color: #E8E8ED;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    transition: 0.3s;
}
.social{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.social a{
    color: #E8E8ED;
    font-size: 40px;
    margin: 0px 13px;
    transition: 0.3s;
}
nav ul li a:hover,
.social a:hover {
    color: #C1C1C1;
}

/* ----------------------------------- bmc --------------------------------- */

.bmc-btn{
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 9999;
    display: block;
}
.bmc-btn img{
    max-width: 80%;
    height: auto;
    width: 50px;
}
.bmc-btn img:hover {
    transition: background 0.3s, transform 0.3s;
    transform: translateY(-10px);
}

/* -----------------------------------ABOUT ME--------------------------------- */

#about{
    padding: 50px 0;
    color: #E8E8ED;
    font-size: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.res-about{
    display: none;
}
.about-col-1{
    flex-basis: 30%;
    margin: 30px;
    padding: 20px;
}
.about-col-1 img{
    width: 100%;
    border-radius: 50%;
    opacity: 0.9;
}
.about-col-2{
    flex-basis: 60%;
}
.para {
    font-size: 19px;
    padding-top: 15px;
    text-decoration: none;
    text-align: justify;
    line-height: 1.19473041em;
}
.para span{
    font-size: 19px;
    padding-top: 10px;
    text-decoration: none;
    text-align: justify;
    line-height: 1.19473041em;
    color: #ffbd59;
    filter: drop-shadow(0em 0em 0.01526281em rgba(255, 172, 47, 0.881)) 
            drop-shadow(0em 0em 0.07631406em rgba(255, 181, 71, 0.627)) 
            drop-shadow(0em 0em 0.22894219em rgba(255, 182, 71, 0.440000));
}
.tab-titles{
    display: flex;
    margin: 30px 0 35px;
}
.tab-links{
    margin-right: 13%;
    font-size: 27px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(255,190,0,1) 30%, rgba(255,137,0,1) 60%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}
.tab-contents ul li span{
    color: #ffbd59;
    font-size: 20px;
}
#Domains ul li{
    font-size: 18px;
}
.tab-contents{
    display: none;
    min-height: 350px;
}
.tab-contents.active-tab{
    display: block;
}

/* -----------------------------------Workshop--------------------------------- */

#workshop{
    padding: 50px 0px;
    color: #E8E8ED;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
#workshop .hide-workshop{
    display: none;
}
.workshop-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}
.workshop-list div{
    border: 3px solid #262626;
    padding: 5px 20px 0;
    font-size: 15px;
    font-weight: 100;
    border-radius: 7px;
    transition: background 0.5s, transform 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.workshop-list div i{
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;

    align-self: center;
    transition: color 0.3s;
}
.workshop-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.workshop-list div .work-desc{
    font-size: 20px;
    margin-bottom: 30px;
}
.workshop-list div a{
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    color: #000;
}
.workshop-btn{
    display: block;
    width: fit-content;
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px 25px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.301) 0%, rgba(0,0,0,0.15) 100%), 
                radial-gradient(at top center, rgba(255, 255, 255, 0.519) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
.workshop-list div:hover{
    transform: translateY(-10px);
    color: #000;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), 
                radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    /* background: linear-gradient(to bottom, rgba(255,190,0,1) 0%, rgba(255, 136, 0, 0.93) 100%), 
                radial-gradient(at top center, rgb(255, 179, 16) 0%, rgb(255, 166, 0) 120%) #ffbd59; */
}

/*--------------------------------- vfx.html---------------------------  */

.vfx-container{
    padding: 0 15%;
}
#vfx{
    width: 100%;
    height: auto;
    font-size: 25px;
    padding-bottom: 30px;
}
#vfx .hide-vfx{
    display: none;
}
.vfx-container h1{
    text-align: center;
    color: #E8E8ED;
}
.vfx-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;
    margin-top: 50px;
}
.vfx-grid video{
    width: 100%;
    border-radius: 1px;
    display: block;
}

/*---------------------------------Projects---------------------------  */

.container1{
    padding: 40px 13%;
}
#projects{
    padding: 50px 0px;
    color: #E8E8ED;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
#projects .hide-projects{
    display: none;
}
.project-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}
.project-card div {
    display: block;
    border: 3px solid #262626;
    padding: 20px;
    border-radius: 7px;
    transition: background 0.5s, transform 0.5s;
    position: relative;
    text-align: left;
}
.card-title {
    font-size: 35px;
    margin: 15px 0 15px;
    display: block;
    overflow: hidden;
}
.project-card div p {
    font-size: 20px;
    margin: 0 15px 50px 0;
    text-align: left;
    overflow: hidden;
}
.project-card img {
    width: 35%;
    border: 1px solid #262626;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
    opacity: 0.9;
}
.project-card div a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: left;
}
.project-btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;

    border: 1px solid #000;
    padding: 10px 25px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.301) 0%, rgba(0,0,0,0.15) 100%), 
                radial-gradient(at top center, rgba(255, 255, 255, 0.519) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

/* ----------------------------------Contact--------------------------------- */

.container2{
    padding: 50px 15% 50px;
}
#contact{
    padding-top: 50px;
    color: #E8E8ED;
    font-size: 25px;
    text-align: center;
    scroll-margin: 30px;
}
.left h2{
    display: none;
}
.subtitle-contact{
    margin-top: 15px;
}
.left{
    flex-basis: 50%;
    padding-left: 10%;
}
.right{
    flex-basis: 50%;
}
.left p{
    margin-top: 40px;
}
.email{
    text-decoration: none;
    color: #E8E8ED;
    margin-right: -10px;
}
.email-font{
    font-size: 22px;
}
.left p i{
    margin-right: 10px;
    font-size: 22px;
}
.icons{
    margin-top: 8%;
    margin-bottom: 55px;
}
.icons a{
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #E8E8ED;
    display: inline-block;
}
.icons a:hover{
    color: #C1C1C1;
}
.resume-btn{
    display: inline-block;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 3px;
    border: 2px solid #000;
    background: linear-gradient(90deg, rgba(255,190,0,1) 100%, rgba(255,137,0,1) 100%);
    transition: filter 0.3s;
}
.right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(22, 22, 23, 88);
    padding: 15px;
    margin: 15px;
    color: #E8E8ED;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}
.submit-btn{
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;

    color: #000;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(255,190,0,1) 100%, rgba(255,137,0,1) 100%);
    transition: filter 0.3s;
}
.resume-btn:hover,
.submit-btn:hover{
    filter: drop-shadow(0em 0em 0.01526281em rgb(255, 218, 161)) 
            drop-shadow(0em 0em 0.07631406em rgba(255, 173, 50, 0.862)) 
            drop-shadow(0em 0em 0.22894219em rgba(255, 177, 60, 0.641));
}
#msg{
    color: #E8E8ED;
    font-size: 20px;
    margin-top: 30px;
    display: block;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 17px;
    color: #C1C1C1;
}

/*----------------------------------------------------- Responsive ------------------------------------------------*/

@media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}

/*---------------------      Res Navbar      ---------------------*/

@media screen and (max-width: 767px){

    .desk-nav{
        display: none;
    }
    .bg-video {
        display: none;
    }
    #header{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        z-index: 0;
        background: rgba(0,0,0,0.6);
    }
    .mobile-bg{
        display: flex;
        height: 100vh;
        width: auto;
        color: azure;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    body{
        padding-top: 0;
    }
    .container {
        padding: 0;
    }
    .res-nav{
        display: flex;
        align-items: center;
        height: 80px;
    }
    .res-nav img{
        height: 30px;
    }
    .logo{
        margin: 0;
        font-size: 27px;
    }
    .header-text{
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        right: -40%;
        transform: translate(-50%, -50%);
    }
    .header-text p  {
        font-size: 25px;
        margin-bottom: 0 50px 13px;
    }
    .header-text h1{
        font-size: 27px;
    }
    .think h1:hover::after, .plan h1:hover::after, .execute h1:hover::after{
        font-size: 27px;
    }
    .think h1{
        margin: 7px 0;
        padding: 0;
    }
    .plan h1{
        margin: 7px 0;
        padding: 0;
    }
    .execute h1{
        margin: 7px 0;
        padding: 0;
    }
    .social{
        position: absolute;
        top: 60%;
        left: 20%;
        right: 19%;
        margin: 0;
    }
    .social a{
        margin-top: 30px;
        font-size: 30px;
    }
    
/* ------------------       Bmc res    ---------------------- */

    .bmc-btn{
        position: absolute;

        bottom: 20px;
        right: 20px;
        z-index: 0;
        display: block;
    }

    .bmc-btn img{
        width: 30px;
    }

/* ------------------       Res ABOUT ME    ---------------------- */

    #about{
        margin-top: 10px;
        padding-bottom: 0px;
    }
    .tab-links{
        font-size: 20px;
    }
    .about-col-1{
        flex-basis: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-col-2{
        flex-basis: 0;
        padding: 30px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-col-1 img{
        height: 33vh;
        width: auto;
    }
    .res-about{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .about-col-2 .subtitle{
        display: none;
    }
    .para{
        font-size: 19px;
    }
    .tab-contents ul li{
        font-size: 17px;
    }
    
/* -----------------------       Workshop    ------------------------- */

    .workshop-list div{
        margin: 0 30px;
    }
    #workshop h1{
        display: none;
    }
    #workshop .hide-workshop{
        display: flex;
        justify-content: center;
    }
    .workshop-list div p{
        font: bolder;
    }
    .workshop-list div h2{
        font-size: 23px;
    }
    .workshop-list div i{
        font-size: 45px;
    }
    #workshop{
        background-image: url(resource/workshop-res.jpg);
    }

/* --------------------------   vfx res ----------------------------------- */

    #vfx h1{
        display: none;
    }
    #vfx .hide-vfx{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        font-family: "Posterama 1913 W01 Bold";
        color: #ffbd59;
        filter: drop-shadow(0em 0em 0.01526281em rgba(255, 164, 26, 0.950000)) 
                drop-shadow(0em 0em 0.07631406em rgba(255, 182, 71, 0.750000)) 
                drop-shadow(0em 0em 0.22894219em rgba(255, 182, 71, 0.440000));
    }

/* ------------------------------------    Projects    ------------------------------------ */

    .container1 {
        padding: 0 5%;
    }
    
    .project-card {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    
    .project-card div {
        padding: 5px 15px 60px;
    }
    
    .project-card img {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0;
    }
    .project-card video {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding: 10px 0;
    }
    .card-title {
        font-size: 22px;
        margin: 10px 0;
        text-align: center;
    }
    
    .project-card div p {
        font-size: 18px;
        margin: 0 0 30px;
        clear: both;
    }
    
    .project-card div a {
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
    }
    
    .project-btn {
        padding: 6px 25px;
        font-size: 16px;
    }

    .container1 {
    padding: 0px 13%;
    }
    #projects h1{
        display: none;
    }
    #projects .hide-projects{
        display: flex;
        justify-content: center;
    }
    .card-title{
        font-size: 23px;
    }
    .project-card div p{
        font: bolder;
    }
    #projects{
        background-image: url(resource/projects-res.jpg);
    }
    
/* -----------------------------------    Contact ------------------------------------------ */

    .container2{
        padding: 0px 10% 10px;
    }
    .left h1{
        display: none;
    }
    .left h2{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .left p{
        margin-top: -20px;
    }
    .email{
        margin-right: -10px;
    }
    .email-font{
        padding-top: 40px;
    }
    .icons a{
        font-size: 25px;
        padding: 0 7px;
    }
    #contact .left{
        padding: 0;
    }
    #contact .right{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .right button{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .icons{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    form input, form textarea{
        margin: 0;
        margin-top: 10px;
    }
    .submit-btn{
        margin-top: 13px;
        margin-bottom: 20px;
    }
    .resume-btn{
        margin-top: 7px;
        font-size: 20px;
    }
    .subtitle-contact {
        margin-top: 0px;
    }
    .tab-titles{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tab-links{
        margin-right: 0;
    }
    #msg{
        font-size: 18px;
        margin-top: 10px;
    }
    .copyright{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* ----------------------------Responsive Menu------------------------- */

.pop-up ul, .lower-bar{
    height: 100vh;
    text-decoration: none;
    list-style-type: none;
}
.lower-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lower-bar li a {
    text-decoration: none;
    font-size: 27px;
    color: #E8E8ED;
}
.lower-bar li{
    margin: 30px 0;
    text-align: start;
}
.pop-up{
    display: none;
}